.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__checkbox {
  border-radius: 2px;
  color: #2f80ed;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 12px;
}

.form__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding: 12px;
}

.form__input:hover {
  opacity: 70%;
}

.form__button[type="submit"] {
  width: 100%;
  padding: 0;
  border: none;
  margin-bottom: 32px;
  border-radius: 4px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-width: 117px;
  min-height: 60px;
  background: #2f71e5;
  border-radius: 100px;
  color: #ffffff;
  font-size: 18px;
  border: none;
}

.form__button[type="submit"]:hover {
  opacity: 70%;
}
